.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 16px;
    border: 1px solid #ccc;
    padding: 16px;
}

@media(max-width: 800px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__input {
    padding: 5px;
}

.form__tasks {
    border: 1px solid #ccc;
    padding: 0 15px 15px 15px;
    margin-top: 0;
}

.form__button {
    padding: 5px;
    border: none;
    min-height: 30px;
    min-width: 30px;
    transition: 1s;
}

.form__button {
    background-color: hsl(180, 100%, 25%);
    color: white;
}

.form__button:hover {
    background-color: hsl(180, 100%, 30%);
    transform: scale(1.25);
}

.form__button:active {
    background-color: hsl(180, 100%, 35%);
}