.tasks{
    border: 1px solid #ccc;
    list-style: none;
    padding: 0 15px 15px;
    margin-top: 0;
}

.tasks__item{
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    grid-gap: 15px;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}

.tasks__content--done {
    text-decoration: line-through;
}

.tasks__item--hiden {
    display: none;
}

.tasks__buttons {
    padding: 5px;
    border: none;
    min-height: 30px;
    min-width: 30px;
    transition: 1s;
}

.tasks__buttons--done {
    background-color: hsl(120, 100%, 25%);
    color: white;   
}

.tasks__buttons--done:hover {
    background-color: hsl(120, 100%, 30%);
}

.tasks__buttons--done:active {
    background-color: hsl(120, 100%, 35%);
}

.tasks__buttons--remove {
    background-color: hsl(0, 100%, 30%);
    color: white;
}

.tasks__buttons--remove:hover {
    background-color: hsl(0, 100%, 40%);
}

.tasks__buttons--remove:active {
    background-color: hsl(0, 100%, 50%);
}
