.buttons {
    padding: 5px;
    border: none;
    min-height: 30px;
    min-width: 30px;
    transition: 1s;
}

.buttons__hiden {
    background-color: transparent;
    color: teal;
    margin: 0 20px 0 0;
}

@media(max-width: 800px) {
    .buttons__hiden {
        margin: 10px;
        display: flex;
        flex-wrap: wrap;
    }
}

.buttons__hiden:hover {
    color: hsl(180, 100%, 30%);
}

.buttons__hiden:active {
    color: hsl(180, 100%, 40%);
}

.buttons__hiden:disabled {
    color: #ccc;
}